In [79]:
import pandas as pd
import numpy as np
from datetime import datetime

In [80]:
df=pd.read_csv('clean_data/full_szn.csv')

In [81]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y')
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,2006-08-19,Arsenal,Aston Villa,1,1,D,0,0,D,...,11,3,10,19,18,1,1,2,0,0
1,E0,2006-08-19,Bolton,Tottenham,2,0,H,2,0,H,...,6,6,19,22,6,3,0,1,0,0
2,E0,2006-08-19,Everton,Watford,2,1,H,1,0,H,...,2,8,12,13,0,6,2,2,0,0
3,E0,2006-08-19,Newcastle,Wigan,2,1,H,1,0,H,...,8,9,17,20,4,11,1,2,0,0
4,E0,2006-08-19,Portsmouth,Blackburn,3,0,H,1,0,H,...,16,7,20,17,6,2,2,1,0,2

In [82]:
df['G1.H']=0
df['G2.H']=0
df['G3.H']=0


df['G1.A']=0
df['G2.A']=0
df['G3.A']=0

In [83]:
df = df.sort_values('Date', ascending=1)
df.index=range(0,len(df))

In [84]:
df['This_Year_LP_Home']=0
df['Last_Year_LP_Home']=0
df['This_Year_LP_Away']=0
df['Last_Year_LP_Away']=0

In [85]:
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,G1.H,G2.H,G3.H,G1.A,G2.A,G3.A,This_Year_LP_Home,Last_Year_LP_Home,This_Year_LP_Away,Last_Year_LP_Away
0,E0,2006-08-19,Arsenal,Aston Villa,1,1,D,0,0,D,...,0,0,0,0,0,0,0,0,0,0
1,E0,2006-08-19,Bolton,Tottenham,2,0,H,2,0,H,...,0,0,0,0,0,0,0,0,0,0
2,E0,2006-08-19,Everton,Watford,2,1,H,1,0,H,...,0,0,0,0,0,0,0,0,0,0
3,E0,2006-08-19,Newcastle,Wigan,2,1,H,1,0,H,...,0,0,0,0,0,0,0,0,0,0
4,E0,2006-08-19,Portsmouth,Blackburn,3,0,H,1,0,H,...,0,0,0,0,0,0,0,0,0,0

In [86]:
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'G1.H', 'G2.H', 'G3.H', 'G1.A', 'G2.A',
       'G3.A', 'This_Year_LP_Home', 'Last_Year_LP_Home', 'This_Year_LP_Away',
       'Last_Year_LP_Away'],
      dtype='object')

In [87]:
table_col_names=['Points','Goals','Goals_Against','Shots','Shots_On_Target']

frame_col_names=[['TY_Points_Home','TY_Points_Away'],['TY_Goals_Home','TY_Goals_Away'],['TY_Goals_Conceded_Home'\
                ,'TY_Goals_Conceded_Away'],['TY_Shots_Home','TY_Shots_Away'],['TY_Shots_On_Target_Home'\
                ,'TY_Shot_On_Target_Away']]

df_col_names=[['FTHG','FTAG'],['FTAG','FTHG'],['HS','AS'],['HST','AST']]

In [88]:
table_col_names

['Points', 'Goals', 'Goals_Against', 'Shots', 'Shots_On_Target']

In [89]:
frame_col_names

[['TY_Points_Home', 'TY_Points_Away'],
 ['TY_Goals_Home', 'TY_Goals_Away'],
 ['TY_Goals_Conceded_Home', 'TY_Goals_Conceded_Away'],
 ['TY_Shots_Home', 'TY_Shots_Away'],
 ['TY_Shots_On_Target_Home', 'TY_Shot_On_Target_Away']]

In [90]:
df_col_names

[['FTHG', 'FTAG'], ['FTAG', 'FTHG'], ['HS', 'AS'], ['HST', 'AST']]

In [91]:
#Create Table For Standings:
a=set(df['HomeTeam'])
table=pd.DataFrame(index=range(0,len(a)))
table['Team']=a
table['Games']=0
table['W']=0
table['D']=0
table['L']=0

#Setting up table variables to be zeroed 
for i in table_col_names:
    table[i]=0
    
#Setting up dataframe columns to be zeroed
for i in frame_col_names:
    df[i[0]]=0
    df[i[1]]=0

final_table=pd.DataFrame()


k=1
last_table=pd.read_csv('clean_data/2005_2006.csv')
last_table['Games']=38


for i in enumerate(df.Date):
    
    #Creating changing variables for both the home and away team
    home=df.loc[i[0],'HomeTeam']
    away=df.loc[i[0],'AwayTeam']
    
    #Checking the league position 
    df.loc[i[0],'This_Year_LP_Home']=np.argmax(table['Points'][table['Team']==home])+1
    df.loc[i[0],'This_Year_LP_Away']=np.argmax(table['Points'][table['Team']==away])+1
    
    #Filling in main dataframe with values from table, see frame_col_name and table_col_names for column variables
    #Note this happens before the match is complete which is important for analysis 
    for j in range(0,len(table_col_names)):
        df.loc[i[0],frame_col_names[j][0]]=table.loc[table['Team']==home,table_col_names[j]].values[0]
        df.loc[i[0],frame_col_names[j][1]]=table.loc[table['Team']==away,table_col_names[j]].values[0]
    
    #To ensure values do exist in last seasons table 
    if (last_table['Points'][last_table['Team']==home].empty==False):
        df.loc[i[0],'Last_Year_LP_Home']=np.argmax(last_table['Points'][last_table['Team']==home])+1
    if (last_table['Points'][last_table['Team']==away].empty==False):
        df.loc[i[0],'Last_Year_LP_Away']=np.argmax(last_table['Points'][last_table['Team']==away])+1
    
    #Incrementing the games played everytime a team completes a game 
    table.loc[table['Team']==home,'Games']=table.loc[table['Team']==home,'Games']+1
    table.loc[table['Team']==away,'Games']=table.loc[table['Team']==away,'Games']+1
    
    #The following set of conditionals are to fill in the wins, loses and draws, ass well as appropriate points 
    if df.loc[i[0],'FTR']=='H':
        
        table.loc[table['Team']==home,'Points']=table.loc[table['Team']==home,'Points']+3
        
        #Home and Away Loss Table
        table.loc[table['Team']==home,'W']=table.loc[table['Team']==home,'W']+1
        table.loc[table['Team']==away,'L']=table.loc[table['Team']==away,'L']+1
        
    elif df.loc[i[0],'FTR']=='A':
        
        table.loc[table['Team']==away,'Points']=table.loc[table['Team']==away,'Points']+3
        
        #Home and Away Loss Table
        table.loc[table['Team']==away,'W']=table.loc[table['Team']==away,'W']+1
        table.loc[table['Team']==home,'L']=table.loc[table['Team']==home,'L']+1
        
    else:
        table.loc[table['Team']==home,'Points']=table.loc[table['Team']==home,'Points']+1
        table.loc[table['Team']==away,'Points']=table.loc[table['Team']==away,'Points']+1
        
        #Home and Away Draw Table
        table.loc[table['Team']==away,'D']=table.loc[table['Team']==away,'D']+1
        table.loc[table['Team']==home,'D']=table.loc[table['Team']==home,'D']+1
        
    
    #This fills in the season total shots, shots on target, points, goals and goals against for each incremental game 
    for j in range(1,len(table_col_names)):
        
        table.loc[table['Team']==home,table_col_names[j]]=table.loc[table['Team']==home,table_col_names[j]]\
                                                            +df.loc[i[0],df_col_names[j-1][0]]
        
        table.loc[table['Team']==away,table_col_names[j]]=table.loc[table['Team']==away,table_col_names[j]]\
                                                            +df.loc[i[0],df_col_names[j-1][1]]
    
    #resorts the table by who is the top team 
    table=table.sort_values(['Points'], ascending=False)
    table.index=range(0,len(table))
    
    table.head()
    
    #This resets the table every premier league season
    if (i[0]+1<3800):
        #print(df.loc[i[0],'Date'].month,df.loc[i[0]-1,'Date'].month)
        if(df.loc[i[0],'Date'].month==5 and df.loc[i[0]+1,'Date'].month==8):
            print('Season: '+str(k)+' Complete')
            print(table.head())
            last_table=table
            final_table=final_table.append(table.loc[:19])
            
            table['Points']=0
            table['Games']=0
            table['W']=0
            table['L']=0
            table['D']=0
            table['Goals']=0
            table['Goals_Against']=0
            table['Shots']=0
            table['Shots_On_Target']=0
            
            k=k+1
            
    if (i[0]==3799):
        print('Season: '+str(k)+' Complete')
        print(table.head())
        final_table=final_table.append(table.loc[:19])

C:\Users\Adam\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:56: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  return getattr(obj, method)(*args, **kwds)

Season: 1 Complete
         Team  Games   W   D   L  Points  Goals  Goals_Against  Shots  \
0  Man United     38  28   5   5      89     83             27    627
1     Chelsea     38  24  11   3      83     64             24    522
2   Liverpool     38  20   8  10      68     57             27    592
3     Arsenal     38  19  11   8      68     63             35    537
4   Tottenham     38  17   9  12      60     57             54    442

   Shots_On_Target
0              342
1              271
2              286
3              276
4              237
Season: 2 Complete
         Team  Games   W   D   L  Points  Goals  Goals_Against  Shots  \
0  Man United     38  27   6   5      87     80             22    620
1     Chelsea     38  25  10   3      85     65             26    497
2     Arsenal     38  24  11   3      83     74             31    530
3   Liverpool     38  21  13   4      76     67             28    607
4     Everton     38  19   8  11      65     55             33    420

   Shots_On_Target
0              353
1              270
2              289
3              320
4              234
Season: 3 Complete
         Team  Games   W   D  L  Points  Goals  Goals_Against  Shots  \
0  Man United     38  28   6  4      90     68             24    621
1   Liverpool     38  25  11  2      86     77             27    609
2     Chelsea     38  25   8  5      83     68             24    656
3     Arsenal     38  20  12  6      72     68             37    554
4     Everton     38  17  12  9      63     55             37    423

   Shots_On_Target
0              376
1              311
2              359
3              316
4              232
Season: 4 Complete
         Team  Games   W   D   L  Points  Goals  Goals_Against  Shots  \
0     Chelsea     38  27   5   6      86    103             32    697
1  Man United     38  27   4   7      85     86             28    616
2     Arsenal     38  23   6   9      75     83             41    560
3   Tottenham     38  21   7  10      70     67             41    597
4    Man City     38  18  13   7      67     73             45    454

   Shots_On_Target
0              388
1              344
2              329
3              348
4              252
Season: 5 Complete
         Team  Games   W   D  L  Points  Goals  Goals_Against  Shots  \
0  Man United     38  23  11  4      80     78             37    543
1    Man City     38  21   8  9      71     60             33    477
2     Chelsea     38  21   8  9      71     69             33    635
3     Arsenal     38  19  11  8      68     72             43    595
4   Tottenham     38  16  14  8      62     55             46    560

   Shots_On_Target
0              310
1              276
2              344
3              342
4              321
Season: 6 Complete
         Team  Games   W  D   L  Points  Goals  Goals_Against  Shots  \
0  Man United     38  28  5   5      89     89             33    592
1    Man City     38  28  5   5      89     93             29    666
2     Arsenal     38  21  7  10      70     74             49    585
3   Tottenham     38  20  9   9      69     66             41    635
4   Newcastle     38  19  8  11      65     56             51    451

   Shots_On_Target
0              369
1              399
2              352
3              373
4              255
Season: 7 Complete
        Team  Games   W  D  L  Points  Goals  Goals_Against  Shots  \
0   Man City     38  27  5  6      86    102             37    673
1  Liverpool     38  26  6  6      84    101             50    650
2    Chelsea     38  25  7  6      82     71             27    693
3    Arsenal     38  24  7  7      79     68             41    524
4    Everton     38  21  9  8      72     61             39    560

   Shots_On_Target
0              238
1              259
2              228
3              210
4              195
Season: 8 Complete
         Team  Games   W   D   L  Points  Goals  Goals_Against  Shots  \
0   Leicester     38  23  12   3      81     68             36    523
1     Arsenal     38  20  11   7      71     65             36    572
2   Tottenham     38  19  13   6      70     69             35    661
3    Man City     38  19   9  10      66     71             41    612
4  Man United     38  19   9  10      66     49             35    430

   Shots_On_Target
0              181
1              210
2              250
3              210
4              143
Season: 9 Complete
        Team  Games   W   D  L  Points  Goals  Goals_Against  Shots  \
0    Chelsea     38  30   3  5      93     85             33    580
1  Tottenham     38  26   8  4      86     86             26    669
2   Man City     38  23   9  6      78     80             39    633
3  Liverpool     38  22  10  6      76     78             42    638
4    Arsenal     38  23   6  9      75     77             44    565

   Shots_On_Target
0              204
1              257
2              217
3              236
4              200
Season: 10 Complete
         Team  Games   W   D   L  Points  Goals  Goals_Against  Shots  \
0    Man City     38  32   4   2     100    106             27    664
1  Man United     38  25   6   7      81     68             28    513
2   Tottenham     38  23   8   7      77     74             36    622
3   Liverpool     38  21  12   5      75     84             38    640
4     Chelsea     38  21   7  10      70     62             38    606

   Shots_On_Target
0              261
1              181
2              217
3              233
4              220

In [92]:
final_table['League_Position']=final_table.index+1
final_table.index=range(0,len(final_table))
final_table.head()

,Team,Games,W,D,L,Points,Goals,Goals_Against,Shots,Shots_On_Target,League_Position
0,Man United,38,28,5,5,89,83,27,627,342,1
1,Chelsea,38,24,11,3,83,64,24,522,271,2
2,Liverpool,38,20,8,10,68,57,27,592,286,3
3,Arsenal,38,19,11,8,68,63,35,537,276,4
4,Tottenham,38,17,9,12,60,57,54,442,237,5

In [93]:
final_table.to_csv('clean_data/total_table.csv')

In [94]:
def result_search(dataframe, column_name, team_name): 
    
    dataframe_temp=dataframe['Date'][dataframe[column_name]==team_name]
    
    if len(dataframe_temp)>0:
        return np.argmax(dataframe_temp)
    else:
        return -1

In [95]:
def last_game_result(dataframe,team_name,date):
    dataframe_temp=dataframe[dataframe['Date']<date]
    
    x1=result_search(dataframe_temp,'HomeTeam',team_name)
    x2=result_search(dataframe_temp,'AwayTeam',team_name)
    
    #x1 means you were the home_team, x2 means you were the away_team
    
    if x1>x2:
        if dataframe_temp.loc[x1,'FTR']=='H':
            return 'W'
        elif dataframe_temp.loc[x1,'FTR']=='A':
            return 'L'
        else:
            return 'D'
    elif x1==x2:
        return -1
    else:
        if dataframe_temp.loc[x2,'FTR']=='A':
            return 'W'
        elif dataframe_temp.loc[x2,'FTR']=='H':
            return 'L'
        else:
            return 'D'

In [96]:
def check_form_value(dataframe,team_name,date):
    
    dataframe_temp=dataframe[dataframe['Date']<date]
    
    x1=result_search(dataframe_temp,'HomeTeam',team_name)
    x2=result_search(dataframe_temp,'AwayTeam',team_name)
    
    if x1>x2:
        #Means Last Game was Home Game 
        if (df.loc[x1,'G1.H']==0 and df.loc[x1,'G2.H']==0 and df.loc[x1,'G3.H']==0):
            return 'G1.','Home',x1
        if (df.loc[x1,'G2.H']==0 and df.loc[x1,'G3.H']==0):
            return 'G2.','Home',x1
        elif (df.loc[x1,'G3.H']==0):
            return 'G3.','Home',x1
        else:
            return 'G3.','Home',x1
    elif x1<x2:
       #Means Last Game was Away Game 
        if (df.loc[x2,'G1.A']==0 and df.loc[x2,'G2.A']==0 and df.loc[x2,'G3.A']==0):
            return 'G1.','Away',x2
        if (df.loc[x2,'G2.A']==0 and df.loc[x2,'G3.A']==0):
            return 'G2.','Away',x2
        elif (df.loc[x2,'G3.A']==0):
            return 'G3.','Away',x2
        else:
            return 'G3.','Away',x2
        
    #only way is if both x1 and x2 are equal to -1
    else:
        return -1

In [97]:
for i in enumerate(df.Date):
    
    #for home team
    
    #tells you if you won or lost 
    prev_game_result_home=last_game_result(df,df.loc[i[0],'HomeTeam'],i[1])
    
    #tells you where to put last result location
    prevform_loc_home=check_form_value(df,df.loc[i[0],'HomeTeam'],i[1])

    #for away team
    prev_game_result_away=last_game_result(df,df.loc[i[0],'AwayTeam'],i[1])
    prevform_loc_away=check_form_value(df,df.loc[i[0],'AwayTeam'],i[1])
    
    '''print(prev_game_result_home)
    print(prevform_loc_home)
    print(prev_game_result_away)
    print(prevform_loc_away)'''
    
    if (prev_game_result_home != -1 and prevform_loc_home!=-1):
        #currently hometeam
        if prevform_loc_home[1]=='Home':
            

            #copy over games 1,2,3 
            df.loc[i[0],'G1.H']=df.loc[prevform_loc_home[2],'G1.H']
            df.loc[i[0],'G2.H']=df.loc[prevform_loc_home[2],'G2.H']
            df.loc[i[0],'G3.H']=df.loc[prevform_loc_home[2],'G3.H']
            
            df.loc[i[0], prevform_loc_home[0] + 'H']= prev_game_result_home
            
            #print(prev_game_result_home)
        
        elif prevform_loc_home[1]=='Away':
            df.loc[i[0],'G1.H']=df.loc[prevform_loc_home[2],'G1.A']
            df.loc[i[0],'G2.H']=df.loc[prevform_loc_home[2],'G2.A']
            df.loc[i[0],'G3.H']=df.loc[prevform_loc_home[2],'G3.A']

            df.loc[i[0], prevform_loc_home[0] + 'H']= prev_game_result_home
        
    if (prev_game_result_away != -1 and prevform_loc_away!=-1):
        #df.loc[i[0], prevform_loc_away[0] + 'A']= prev_game_result_away
        
        if prevform_loc_away[1]=='Home':
            #copy over games 1,2,3 
            df.loc[i[0],'G1.A']=df.loc[prevform_loc_away[2],'G1.H']
            df.loc[i[0],'G2.A']=df.loc[prevform_loc_away[2],'G2.H']
            df.loc[i[0],'G3.A']=df.loc[prevform_loc_away[2],'G3.H']
            df.loc[i[0], prevform_loc_away[0] + 'A']= prev_game_result_away

        elif prevform_loc_away[1]=='Away':
            df.loc[i[0],'G1.A']=df.loc[prevform_loc_away[2],'G1.A']
            df.loc[i[0],'G2.A']=df.loc[prevform_loc_away[2],'G2.A']
            df.loc[i[0],'G3.A']=df.loc[prevform_loc_away[2],'G3.A']
            df.loc[i[0], prevform_loc_away[0] + 'A']= prev_game_result_away

In [98]:
def count_previous_games(dataframe,date,team_name):
    dataframe_temp=dataframe[(dataframe['HomeTeam']==team_name) | (dataframe['AwayTeam']==team_name)][dataframe['Date']<date]
    return len(dataframe_temp)

In [99]:
def count_prev_point(dataframe,date,team_name):
    dataframe_temp=dataframe[(dataframe['HomeTeam']==team_name) | (dataframe['AwayTeam']==team_name)][dataframe['Date']<date]
    dataframe_temp.index=range(0,len(dataframe_temp))
    #print(dataframe_temp)
    value=0
    for i in enumerate(dataframe_temp['Date']):
        #print(i[0])
        if dataframe_temp.loc[i[0],'FTR']=='H' and dataframe_temp.loc[i[0],'HomeTeam']==team_name:
            value=value+3
        elif dataframe_temp.loc[i[0],'FTR']=='A' and dataframe_temp.loc[i[0],'AwayTeam']==team_name:
            value= value+3
        elif dataframe_temp.loc[i[0],'FTR']=='D':
            value= value+1
    return value

In [101]:
def count_prev(dataframe,date,team_name,col):
    #print(col[0])
    data_temp1=dataframe[col[0]][(dataframe['HomeTeam']==team_name)][dataframe['Date']<date]
    data_temp2=dataframe[col[1]][(dataframe['AwayTeam']==team_name)][dataframe['Date']<date]
    return np.sum(data_temp1)+np.sum(data_temp2)

In [102]:
stored_columns=['Home_Goals','Away_Goals','Home_Goals_Conceded','Away_Goals_Conceded',
                'Home_Shots','Away_Shots','Home_Shots_Target','Away_Shots_Target',
                'Home_Corners','Away_Corners','Home_Yellow','Away_Yellow','Home_Red','Away_Red']

In [103]:
col_values=[['FTHG','FTAG'],['FTAG','FTHG'],['HS','AS'],['HST','AST'],['HC','AC'],['HY','AY'],['HR','AR']]

In [104]:
stored_columns

['Home_Goals',
 'Away_Goals',
 'Home_Goals_Conceded',
 'Away_Goals_Conceded',
 'Home_Shots',
 'Away_Shots',
 'Home_Shots_Target',
 'Away_Shots_Target',
 'Home_Corners',
 'Away_Corners',
 'Home_Yellow',
 'Away_Yellow',
 'Home_Red',
 'Away_Red']

In [105]:
col_values

[['FTHG', 'FTAG'],
 ['FTAG', 'FTHG'],
 ['HS', 'AS'],
 ['HST', 'AST'],
 ['HC', 'AC'],
 ['HY', 'AY'],
 ['HR', 'AR']]

In [106]:
#Create Empty Columns
for i in range(0,len(stored_columns)):
    df[stored_columns[i]]=0
   # df[stored_columns[i][0]+'_Avg']=0

In [120]:
#Filling Aggregate Columns
for i in enumerate(df.Date):
    
    value_home=count_previous_games(df,df.loc[i[0],'Date'],df.loc[i[0],'HomeTeam'])
    value_away=count_previous_games(df,df.loc[i[0],'Date'],df.loc[i[0],'AwayTeam'])
    
    if value_home==0:
        value_home=1
    if value_away==0:
        value_away=1
        
    home_team=df.loc[i[0],'HomeTeam']
    away_team=df.loc[i[0],'AwayTeam']
    date=df.loc[i[0],'Date']
    
    if (value_home!=0  or value_away!=0):
        
        df.loc[i[0],'Home_Points']=count_prev_point(df,date,home_team)/value_home
        df.loc[i[0],'Away_Points']=count_prev_point(df,date,away_team)/value_away
        
        for j in range(1,len(stored_columns),2):
            temp_val=int((j-1)/2)
            #test_val=stored_columns[j-1]
            #print(col_values[temp_val])
            df.loc[i[0],stored_columns[j-1]]=count_prev(df,date,home_team,col_values[temp_val])/value_home
            #a=stored_columns[i][0]
            df.loc[i[0],stored_columns[j]]=count_prev(df,date,away_team,col_values[temp_val])/value_away
            '''
            if (j+1)%2==0:
                df.loc[i[0],stored_columns[j][0]]=count_prev(df,date,home_team,stored_columns[j][1])/value_home
                #df.loc[i[0],stored_columns[j][0]+'_Avg']=df.loc[i[0],stored_columns[j][0]]/value_home
            else:
                df.loc[i[0],stored_columns[j][0]]=count_prev(df,date,away_team,stored_columns[j][1])/value_away
                #df.loc[i[0],stored_columns[j][0]+'_Avg']=df.loc[i[0],stored_columns[j][0]]/value_away
            '''

C:\Users\Adam\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [121]:
list(range(1,len(stored_columns),2))

[1, 3, 5, 7, 9, 11, 13]

In [122]:
df['Form_Rating_Home']=0
df['Form_Rating_Away']=0

for i in enumerate(df['Date']):
    value_home=0
    value_away=0
    for j in range(1,4):
        if df.loc[i[0],'G'+str(j)+'.H']=='D':
            value_home=value_home+1
        elif df.loc[i[0],'G'+str(j)+'.H']=='W':
            value_home=value_home+3
        if df.loc[i[0],'G'+str(j)+'.A']=='D':
            value_away=value_away+1
        elif df.loc[i[0],'G'+str(j)+'.A']=='W':
            value_away=value_away+3
            
    df.loc[i[0],'Form_Rating_Home']=value_home
    df.loc[i[0],'Form_Rating_Away']=value_away

In [123]:
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'G1.H', 'G2.H', 'G3.H', 'G1.A', 'G2.A',
       'G3.A', 'This_Year_LP_Home', 'Last_Year_LP_Home', 'This_Year_LP_Away',
       'Last_Year_LP_Away', 'TY_Points_Home', 'TY_Points_Away',
       'TY_Goals_Home', 'TY_Goals_Away', 'TY_Goals_Conceded_Home',
       'TY_Goals_Conceded_Away', 'TY_Shots_Home', 'TY_Shots_Away',
       'TY_Shots_On_Target_Home', 'TY_Shot_On_Target_Away', 'Home_Goals',
       'Away_Goals', 'Home_Goals_Conceded', 'Away_Goals_Conceded',
       'Home_Shots', 'Away_Shots', 'Home_Shots_Target', 'Away_Shots_Target',
       'Home_Corners', 'Away_Corners', 'Home_Yellow', 'Away_Yellow',
       'Home_Red', 'Away_Red', 'Home_Points', 'Away_Points',
       'Form_Rating_Home', 'Form_Rating_Away'],
      dtype='object')

In [128]:
clean_data=df[['Home_Points','Away_Points','Date', 'HomeTeam', 'AwayTeam','FTHG','FTAG','Home_Goals','Away_Goals',
               'Home_Goals_Conceded','Away_Goals_Conceded','Form_Rating_Home',
               'Form_Rating_Away', 'Home_Shots', 'Away_Shots','Home_Shots_Target', 
               'Away_Shots_Target', 'Home_Corners','Away_Corners', 'Home_Yellow','Away_Yellow', 
               'Home_Red', 'Away_Red','G1.H','G2.H','G3.H','G1.A','G2.A','G3.A',
               'This_Year_LP_Home','Last_Year_LP_Home','This_Year_LP_Away','Last_Year_LP_Away',
               'TY_Points_Home','TY_Points_Away','TY_Goals_Home','TY_Goals_Away','TY_Goals_Conceded_Home',
               'TY_Goals_Conceded_Away','TY_Shots_Home','TY_Shots_Away','TY_Shots_On_Target_Home',
               'TY_Shot_On_Target_Away','FTR']]

In [129]:
data=clean_data
#[(clean_data['Home_Fouls']!=0) | (clean_data['Away_Fouls']!=0)]
data.index=range(0,len(data))

In [130]:
data.to_csv('clean_data/clean_data.csv')